tickets/schema/ticket_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="ticket">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="assignee" type="xs:string" minOccurs="0"/>
        <xs:element name="status" type="ticketStatus"/>
        <xs:element name="priority" type="xs:int" default="5"/>
        <xs:element name="created_at" type="xs:dateTime"/>
        <xs:element name="updated_at" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="column" type="xs:string" default="backlog"/>
        <xs:element name="tags" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tag" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="history" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="event" type="historyEvent" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="ticketStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="open"/>
      <xs:enumeration value="in_progress"/>
      <xs:enumeration value="review"/>
      <xs:enumeration value="done"/>
      <xs:enumeration value="blocked"/>
      <xs:enumeration value="cancelled"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="historyEvent">
    <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:element name="action" type="xs:string"/>
      <xs:element name="actor" type="xs:string"/>
      <xs:element name="from_status" type="xs:string" minOccurs="0"/>
      <xs:element name="to_status" type="xs:string" minOccurs="0"/>
      <xs:element name="note" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="ticket-board">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="created_at" type="xs:dateTime"/>
        <xs:element name="columns">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="column" type="columnDef" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tickets">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ticket" type="ticket" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="assignees">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="assignee" type="assigneeDef" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="columnDef">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="wip_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="assigneeDef">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="active" type="xs:boolean" default="true"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>